$mainGreen : #98B895;
$mainBrown : #AC8E58;
$darkBrown : #524629;
$plain : #F6F2EF;
$black : #000000;
$imageStandardWidth : 30px;

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin boxShadow() {
    box-shadow: 3px 3px 1px $darkBrown;
}

@mixin border() {
    border: 2px solid $mainGreen;
}

//General rules


input {
    @include border();
    min-height: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: inset 2px 2px 1px $darkBrown;
}

input[type="submit"], button {
    border: 2px solid $darkBrown;
    border-radius: 30px;
    background-color: $darkBrown;
    color: $plain;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    width: 40%;
    cursor: pointer;
    &:hover {
        scale: 1.1;
    }
}
//End general rules

body {
    background-image: url('../upload/paperTextureBackground.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    @include flexCenter(row);
    h1 {
        color: $darkBrown;
        font-size: 52px;
        font-weight: bolder;
        margin: 10px;
        margin-top: 15px;
    }
}

footer {
    @include flexCenter(row);
    color: $plain;
    background-color: $darkBrown;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainGreen;
    height: 75px;
    padding: 5px 10px;
    section.search {
        width: 25%;
        @include flexCenter(row);
        background-color: $plain;
        height: 30px;
        margin: 5px 15px;
        padding: 5px 20px;
        border-radius: 25px;
        justify-content: space-between;
        label {
            display: none;
        }
        input[type="image"] {
            box-shadow: none;
            border: none;
            border-radius: 0px;
            width: 20px;
            padding: 5px;
            &:hover {
                width:24px;
                padding: 3px;
            }
        }
        input[name="fastSearch"] {
            border: none;
            box-shadow: none;
            background-color: $plain;
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    section.nav-buttons {
        @include flexCenter(row);
        background-color: $mainGreen;
        margin: 5px 15px;
        button {
            background-color: $mainGreen;
            border: none;
            height: 100%;
            width: 100%;
            padding: 10px;
            cursor: pointer;
            img {
                width: 50px;
            }
            &:hover {
                scale: 1.1;
            }
        }
        button.logout-button {
            padding-top: 15px;
            img {
                height: 45px;
            }
        }
    }
}

main {
    @include flexCenter(row);
    padding: 30px;
    min-height: 360px;
    &.login, &.signup {
        section {
            @include flexCenter(column);
            @include boxShadow();
            @include border();
            background-color: $plain;
            padding: 15px;
            border-radius: 10px;
            max-width: 50%;
            min-height: 300px;
            h1 {
                color: $darkBrown;
                font-size: 36px;
                font-weight: bold;
                margin: 10px;
            }
            form {
                color: $darkBrown;
                width: 100%;
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    width: 100%;
                    li {
                        font-size: 26px;
                        display: flex;
                        padding: 5px 20px;
                        justify-content: space-between;
                        &:last-child {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}