input {
  border: 2px solid #98B895;
  min-height: 20px;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: inset 2px 2px 1px #524629;
}

input[type=submit],
button {
  border: 2px solid #524629;
  border-radius: 30px;
  background-color: #524629;
  color: #F6F2EF;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  width: 40%;
  cursor: pointer;
}
input[type=submit]:hover,
button:hover {
  scale: 1.1;
}

body {
  background-image: url("../upload/paperTextureBackground.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header h1 {
  color: #524629;
  font-size: 52px;
  font-weight: bolder;
  margin: 10px;
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #F6F2EF;
  background-color: #524629;
  padding: 20px;
}
footer h1 {
  margin: 0px;
  margin-bottom: 16px;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  align-items: end;
  min-height: 30px;
  color: #F6F2EF;
  text-decoration: none;
}
footer a img {
  padding: 3px;
  height: 24px;
  margin-right: 6px;
}
footer a p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  padding-top: 4px;
  align-self: center;
  font-size: 18px;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #98B895;
  height: 75px;
  padding: 5px 10px;
}
nav section {
  width: 25%;
}
nav section.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #F6F2EF;
  height: 30px;
  margin: 5px 15px;
  padding: 5px 20px;
  border-radius: 25px;
  justify-content: space-between;
}
nav section.search label {
  display: none;
}
nav section.search input[type=image] {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  width: 20px;
  padding: 5px;
}
nav section.search input[type=image]:hover {
  width: 24px;
  padding: 3px;
}
nav section.search input[name=fastSearch] {
  border: none;
  box-shadow: none;
  background-color: #F6F2EF;
}
nav section.search input[name=fastSearch]:focus {
  border: none;
  outline: none;
}
nav section.user-currency {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav section.user-currency a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  border: 1px solid #524629;
  border-radius: 30px;
  height: 60px;
  padding: 0px 20px;
}
nav section.user-currency a img {
  width: 60px;
}
nav section.user-currency a p {
  color: #F6F2EF;
  font-size: 26px;
  font-weight: bolder;
}
nav section.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  background-color: #98B895;
  margin: 5px 15px;
}
nav section.nav-buttons a {
  background-color: #98B895;
  border: none;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}
nav section.nav-buttons a img {
  width: 50px;
}
nav section.nav-buttons a:hover {
  scale: 1.1;
}
nav section.nav-buttons a.logout-button {
  padding-top: 15px;
}
nav section.nav-buttons a.logout-button img {
  height: 45px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px;
  min-height: 400px;
}
main.login section, main.signup section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 1px #524629;
  border: 2px solid #98B895;
  background-color: #F6F2EF;
  padding: 15px;
  border-radius: 10px;
  max-width: 50%;
  min-height: 300px;
}
main.login section h1, main.signup section h1 {
  color: #524629;
  font-size: 36px;
  font-weight: bold;
  margin: 10px;
}
main.login section form, main.signup section form {
  color: #524629;
  width: 100%;
}
main.login section form ul, main.signup section form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
main.login section form ul li, main.signup section form ul li {
  font-size: 26px;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}
main.login section form ul li:last-child, main.signup section form ul li:last-child {
  margin-top: 15px;
}
main.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main.home section {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 1px #524629;
  background-color: #F6F2EF;
  width: 86%;
  height: 220px;
  margin: 10px;
  justify-content: center;
}
main.home section h1 {
  margin: 10px;
  color: #524629;
}
main.home section ul {
  height: auto;
  overflow-y: auto;
  list-style: none;
  margin: 10px;
  padding-inline-start: 0px;
  padding: 0px 15px;
}
main.home section li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 3px 3px 1px #524629;
  justify-content: space-between;
  border: 1px solid #98B895;
  border-radius: 20px;
  padding: 0px 20px;
  margin: 4px 0px;
  height: 44px;
  font-size: large;
}
main.home section li p {
  width: 30%;
}
main.home section li p.comments {
  text-align: right;
  padding-right: 25px;
}
main.home section li a {
  width: 30%;
  justify-content: left;
  color: #524629;
  font-weight: bold;
  cursor: pointer;
}
main.topic {
  padding: 30px;
}
main.topic section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  box-shadow: 3px 3px 1px #524629;
  background-color: #F6F2EF;
  width: 68%;
  padding: 20px;
}
main.topic section h1 {
  font-size: 28px;
  color: #524629;
  margin: 16px 0px;
}
main.topic section section {
  width: 90%;
  text-align: center;
}
main.topic section section h2 {
  font-size: 20px;
  color: #524629;
  margin: 16px 0px;
  width: 46%;
}
main.topic section section h3 {
  font-size: 20px;
  color: #524629;
  margin: 16px 0px;
  width: 46%;
}
main.topic section p.text {
  font-size: 18px;
  text-align: left;
  min-width: 400px;
  padding: 0px 5%;
}
main.topic section section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: none;
}
main.topic section section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding-inline-start: 0px;
  margin: 0px;
}
main.topic section section ul li {
  border: 1px solid #98B895;
  border-radius: 24px;
  width: 96%;
  padding: 6px 26px;
  margin: 4px;
}
main.topic section section ul li section {
  box-shadow: none;
}
main.topic section section ul li section button {
  background: none;
  border: none;
}
main.topic section section ul li section button img {
  width: 15px;
}
main.topic section section ul li h4 {
  margin: 10px 0px;
  text-align: left;
}
main.topic section section ul li p {
  padding-left: 10px;
  margin: 8px 0px;
  text-align: left;
}
main.topic section section.likes {
  justify-self: end;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: left;
  padding: 2px 10px;
}
main.topic section section.likes button {
  width: 30px;
  padding: 0px;
}
main.topic section section.likes p {
  padding: 4px;
  margin: 0px;
}
main.topic section section.new-comment {
  padding: 0px;
}
main.topic section section.new-comment.hidden {
  display: none;
}
main.topic section section.new-comment button {
  font-size: 16px;
}
main.topic section section.edit {
  border: 1px solid #524629;
  border-radius: 30px;
}
main.topic section section.edit form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
main.topic section section.edit form label {
  color: #524629;
  font-weight: bold;
  margin: 3px;
  font-size: 18px;
}
main.topic section section.edit form input {
  width: 78%;
  height: 120px;
}
main.topic section section.edit form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12px;
  margin-right: 30px;
  margin-left: auto;
}
main.topic section section.edit form input[type=text] {
  color: #000000;
  font-size: 18px;
  border-radius: 26px;
}
main.topic section section.edit.hidden {
  display: none;
}
main.topic section.subtitle {
  justify-content: space-around;
  padding: 0px;
}/*# sourceMappingURL=style.css.map */