$mainGreen : #98B895;
$mainBrown : #AC8E58;
$darkBrown : #524629;
$plain : #F6F2EF;
$black : #000000;
$imageStandardWidth : 30px;

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin boxShadow() {
    box-shadow: 3px 3px 2px $darkBrown;
}

@mixin border() {
    border: 2px solid $mainGreen;
}

//General rules


input {
    @include border();
    min-height: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: inset 2px 2px 1px $darkBrown;
}

input[type="submit"],
button {
    border: 2px solid $darkBrown;
    border-radius: 30px;
    background-color: $darkBrown;
    color: $plain;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    width: 40%;
    cursor: pointer;

    &:hover {
        scale: 1.1;
    }
}

//End general rules

body {
    background-image: url('../upload/paperTextureBackground.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    @include flexCenter(row);

    h1 {
        color: $darkBrown;
        font-size: 52px;
        font-weight: bolder;
        margin: 10px;
        margin-top: 15px;
    }
}

footer {
    @include flexCenter(column);
    color: $plain;
    background-color: $darkBrown;
    padding: 20px;

    h1 {
        margin: 0px;
        margin-bottom: 16px
    }

    a {
        @include flexCenter(row);
        cursor: pointer;
        align-items: end;
        min-height: 30px;
        color: $plain;
        text-decoration: none;

        img {
            padding: 3px;
            height: 24px;
            margin-right: 6px;
        }

        p {
            @include flexCenter(row);
            margin: 0px;
            padding-top: 4px;
            align-self: center;
            font-size: 18px;
            text-decoration: underline;
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainGreen;
    height: 75px;
    padding: 5px 10px;

    section {
        width: 25%;
    }

    section.search {
        @include flexCenter(row);
        background-color: $plain;
        height: 30px;
        margin: 5px 15px;
        padding: 5px 10px;
        border-radius: 25px;
        justify-content: space-between;

        form {
            @include flexCenter(row);
            width: 100%;

            input {
                background-color: $plain;
                border: none;
                box-shadow: none;
                padding: 0px;
                width: 60%;

                &:focus-visible {
                    outline: none;
                }
            }

            select {
                border: none;
                background-color: $plain;
                margin: 0px 8px;
                font-size: 16px;
                font-weight: bold;
                color: $darkBrown;
                cursor: pointer;
            }

            button {
                width: fit-content;
                background-color: $plain;
                border: none;
                padding: 0px;

                img {
                    width: 18px;
                }
            }
        }
    }

    section.user-currency {
        @include flexCenter(row);
        height: 100%;

        a {
            @include flexCenter(row);
            text-decoration: none;
            border: 1px solid $darkBrown;
            border-radius: 30px;
            height: 60px;
            padding: 0px 20px;

            img {
                width: 60px;
            }

            p {
                color: $plain;
                font-size: 26px;
                font-weight: bolder
            }

            &:hover {
                scale: 1.06;
            }
        }
    }

    section.nav-buttons {
        @include flexCenter(row);
        justify-content: right;
        background-color: $mainGreen;
        margin: 5px 15px;

        a {
            background-color: $mainGreen;
            border: none;
            height: 100%;
            width: fit-content;
            padding: 10px;
            cursor: pointer;

            img {
                width: 50px;
            }

            &:hover {
                scale: 1.1;
            }
        }

        a.logout-button {
            padding-top: 15px;

            img {
                height: 45px;
            }
        }
    }
}

main {
    @include flexCenter(row);
    padding: 30px;
    min-height: 400px;

    &.login,
    &.signup {
        section {
            @include flexCenter(column);
            @include boxShadow();
            @include border();
            background-color: $plain;
            padding: 15px;
            border-radius: 10px;
            max-width: 50%;
            min-height: 300px;

            h1 {
                color: $darkBrown;
                font-size: 36px;
                font-weight: bold;
                margin: 10px;
            }

            form {
                color: $darkBrown;
                width: 100%;

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    width: 100%;

                    li {
                        font-size: 26px;
                        display: flex;
                        padding: 5px 20px;
                        justify-content: space-between;

                        &:last-child {
                            margin-top: 15px;
                        }

                        a {
                            text-align: center;
                            padding: 10px 20px;
                            border-radius: 30px;
                            width: 30%;
                            color: $plain;
                            background-color: $darkBrown;
                            text-decoration: none;
                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }
    }

    &.library {
        padding: 30px;

        >section {
            @include flexCenter(column);
            background-color: transparent;
            padding: 20xp;
            min-width: 96%;

            h1 {
                color: $darkBrown;
                font-size: 32px;
                font-weight: bolder;
            }

            section {
                @include flexCenter(column);
                width: 96%;

                ul {
                    @include flexCenter(column);
                    padding-inline-start: 0px;
                    list-style: none;
                    width: 96%;

                    li {
                        @include flexCenter(row);
                        @include boxShadow();
                        background-color: $plain;
                        justify-content: space-around;
                        width: 70%;
                        border: 1px solid $mainBrown;
                        border-radius: 30px;
                        margin-bottom: 6px;
                        padding: 0px 16px;

                        a {
                            font-size: 18px;
                            font-weight: bold;
                            color: $darkBrown;
                            width: 40%;
                        }

                        p {
                            text-align: center;
                            margin: 8px 0px;
                            width: 24%;
                        }
                    }
                }
            }
        }
    }

    &.home {
        @include flexCenter(column);

        >section {
            display: flex;
            flex-direction: column;
            @include boxShadow();
            background-color: $plain;
            width: 86%;
            height: 260px;
            margin: 20px;
            justify-content: center;
            border: 1px solid $mainBrown;
            border-radius: 4px;
            padding: 10px;

            h1 {
                margin: 10px;
                color: $darkBrown;

            }

            ul {
                height: auto;
                overflow-y: auto;
                list-style: none;
                margin: 10px;
                padding-inline-start: 0px;
                padding: 0px 15px;
            }

            li {
                @include flexCenter(row);
                @include boxShadow();
                justify-content: space-between;
                border: 1px solid $mainGreen;
                border-radius: 20px;
                padding: 0px 20px;
                margin: 4px 0px;
                height: 44px;
                font-size: large;

                p {
                    width: 30%;

                    &.comments {
                        text-align: right;
                        padding-right: 25px;
                    }
                }

                a {
                    width: 30%;
                    justify-content: left;
                    color: $darkBrown;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            &.suggested {
                height: auto;
                max-height: 220px;

                >p {
                    margin: 10px 20px;
                }
            }

            &.authors {
                ul {
                    li {
                        a {
                            width: 46%;
                            text-decoration: none;
                        }

                        p {
                            width: 46%;
                        }

                        &:last-of-type {
                            height: fit-content;
                            padding: 6px 0px;

                            a {
                                width: 26%;
                                background-color: $darkBrown;
                                border: 1px solid $darkBrown;
                                color: $plain;
                                margin: 0px auto;
                                padding: 4px 12px;
                                text-align: center;
                                border-radius: 12px;

                                &:hover {
                                    background-color: $plain;
                                    color: $darkBrown;
                                }
                            }
                        }
                    }
                }
            }

            &.groups {
                height: fit-content;
                padding: 20px;
                background-color: transparent;
                box-shadow: none;
                width: 60%;
                border: none;

                h1 {
                    text-align: center;
                    font-size: 32px;
                    font-weight: bolder;
                }

                ul {
                    @include flexCenter(row);
                    justify-content: center;
                    overflow-y: unset;
                    height: fit-content;

                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        height: fit-content;
                        margin: 0px 10px;
                        width: calc(45% - 20px);
                        box-shadow: none;

                        a {
                            display: block;
                            height: 120px;
                            width: 220px;
                            background-color: $mainBrown;
                            padding: 16px;
                            border-radius: 12px;
                            box-shadow: 3px 3px 3px $darkBrown;
                            text-decoration: none;
                            cursor: pointer;

                            h2 {
                                font-size: 26px;
                                text-align: center;
                                color: $plain;
                                margin: 6px 0px;
                                width: calc(100%);
                                box-shadow: none;
                            }

                            p {
                                margin: 0px;
                                margin-top: 8px;
                                padding: 12px;
                                border-radius: 12px;
                                width: calc(100% - 20px);
                                height: calc(100% - 32px - 30px);
                                background-color: $plain;
                                text-decoration: none;
                            }

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }

            &.bests {
                li {
                    &:last-of-type {
                        height: fit-content;
                        padding: 6px 0px;

                        a {
                            width: 26%;
                            background-color: $darkBrown;
                            border: 1px solid $darkBrown;
                            color: $plain;
                            margin: 0px auto;
                            padding: 4px 12px;
                            text-align: center;
                            border-radius: 12px;
                            text-decoration: none;

                            &:hover {
                                background-color: $plain;
                                color: $darkBrown;
                            }
                        }
                    }
                }
            }

            &.topics {
                li {
                    &:last-of-type {
                        height: fit-content;
                        padding: 6px 0px;

                        a {
                            width: 26%;
                            background-color: $darkBrown;
                            border: 1px solid $darkBrown;
                            color: $plain;
                            margin: 0px auto;
                            padding: 4px 12px;
                            text-align: center;
                            border-radius: 12px;
                            text-decoration: none;

                            &:hover {
                                background-color: $plain;
                                color: $darkBrown;
                            }
                        }
                    }
                }
            }
        }

    }

    &.text-page {
        padding: 30px;

        section.main-section {
            @include flexCenter(column);
            @include boxShadow();
            background-color: $plain;
            width: 100%;

            section.header {
                @include flexCenter(row);
                justify-content: space-between;
                width: calc(100% - 80px);
                height: 100xp;
                padding: 0px 40px;
                margin-bottom: 8px;

                h1 {
                    font-size: 48px;
                    font-weight: bolder;
                    text-decoration: underline;
                    margin: 0px;
                }

                p {
                    color: $mainBrown;
                    font-size: 30px;
                    font-weight: bold;
                    margin: 0px;
                }

                &:first-of-type {
                    margin-top: 16px;
                }
            }

            ul.authors-list {
                @include flexCenter(row);
                list-style: none;
                padding-inline-start: 0px;
                margin: 6px;

                >li:first-of-type {
                    margin: 10px 20px;
                }

                li {
                    margin-right: 16px;
                }
            }

            p.genre {
                margin: 4px;
            }

            section.chapters {
                width: 100%;
                display: contents;

                h1 {
                    color: $darkBrown;
                    font-weight: bold;
                    font-size: 28px;
                    margin: 0px;
                    margin-top: 20px;
                }

                ul {
                    @include flexCenter(column);
                    width: 80%;
                    padding-inline-start: 0px;
                    margin: 8px 0px;
                    padding: 4px 12px;
                    align-items: center;
                    justify-content: center;

                    li {
                        @include flexCenter(row);
                        justify-content: space-between;
                        width: 60%;
                        padding: 6px 20px;
                        border: 1px solid $mainGreen;
                        border-radius: 30px;
                        margin-bottom: 2px;

                        p {
                            font-size: 18px;
                            text-align: center;
                            min-width: 26px;
                            margin: 8px 8px;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &:nth-of-type(3) {
                                font-size: 16px;
                                color: $mainBrown;
                            }
                        }

                        a {
                            background-color: $darkBrown;
                            color: $plain;
                            text-decoration: none;
                            padding: 4px 10px;
                            border-radius: 14px;
                            border: 1px solid $darkBrown;

                            &.read {
                                color: $darkBrown;
                                background-color: $plain;
                            }

                            &:hover {
                                scale: 1.1;
                            }

                            &.hidden {
                                display: none;
                            }
                        }
                    }
                }
            }

            section.reviews {
                padding: 20px 36px;
                min-width: 80%;

                h1 {
                    font-size: 32px;
                    font-weight: bold;
                    color: $darkBrown;
                    margin: 12px 0px;
                }

                ul {
                    list-style: none;
                    padding-inline-start: 0px;

                    li {
                        padding: 16px;
                        border: 1px solid $mainBrown;
                        border-radius: 30px;
                        margin-bottom: 8px;

                        h2 {
                            margin: 0px;
                        }

                        h3,
                        h4 {
                            padding: 0px 20px;
                            margin: 8px 0px;
                        }

                        h3 {
                            font-weight: bold;
                        }

                        h4 {
                            padding-left: 36px;
                            color: $mainBrown;
                        }

                        p {
                            padding: 20px;
                            margin: 0px;
                        }
                    }
                }

                section.new-review {
                    @include flexCenter(column);
                    min-width: 60%;

                    button {
                        font-size: 16px;
                        padding: 8px;
                        width: 28%;

                        &.hidden {
                            display: none;
                        }
                    }

                    form {
                        @include flexCenter(column);
                        width: 72%;

                        label {
                            font-size: 16px;
                            margin-top: 12px;
                            margin-bottom: 4px;
                        }

                        textarea {
                            width: 50%;
                            height: 160px;
                            border: 1px solid $mainGreen;
                            border-radius: 30px;
                            padding: 14px;
                        }

                        input[type="submit"] {
                            font-size: 16px;
                            padding: 8px;
                            width: 28%;
                            margin-top: 12px;
                        }

                        &.hidden {
                            display: none;
                        }
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }

            section.tags {
                width: 86%;
                padding: 0px 30px;

                h2 {
                    margin: 0px 8px;
                }

                p {
                    color: $mainBrown;
                }
            }
        }
    }

    &.topic {
        padding: 30px;

        section {
            @include flexCenter(column);
            justify-content: left;
            text-align: left;
            @include boxShadow();
            background-color: $plain;
            width: 68%;
            padding: 20px;

            h1 {
                font-size: 28px;
                color: $darkBrown;
                margin: 16px 0px;
            }

            section {
                width: 90%;
                text-align: center;

                h2 {
                    font-size: 20px;
                    color: $darkBrown;
                    margin: 16px 0px;
                    width: 46%;
                }

                h3 {
                    font-size: 20px;
                    color: $darkBrown;
                    margin: 16px 0px;
                    width: 46%;
                }
            }

            p.text {
                font-size: 18px;
                text-align: left;
                min-width: 400px;
                padding: 0px 5%;
            }

            section {
                @include flexCenter(row);
                box-shadow: none;

                ul {
                    @include flexCenter(column);
                    list-style: none;
                    width: 100%;
                    padding-inline-start: 0px;
                    margin: 0px;

                    li {
                        border: 1px solid $mainGreen;
                        border-radius: 24px;
                        width: 96%;
                        padding: 6px 26px;
                        margin: 4px;

                        section {
                            box-shadow: none;

                            button {
                                background: none;
                                border: none;

                                img {
                                    width: 15px;
                                }
                            }
                        }

                        h4 {
                            margin: 10px 0px;
                            text-align: left;
                        }

                        p {
                            padding-left: 10px;
                            margin: 8px 0px;
                            text-align: left;
                        }
                    }
                }

                &.likes {
                    justify-self: end;
                    width: fit-content;
                    justify-content: left;
                    padding: 2px 10px;
                    cursor: pointer;

                    a {
                        width: 30px;
                        padding: 0px;
                        img {
                            width: 20px;
                        }
                        &:nth-of-type(1) {
                            padding-bottom: 4px;
                        }
                        &:nth-of-type(2) {
                            padding-top: 4px;
                        }
                        &:hover {
                            scale: 1.3;
                        }
                    }

                    p {
                        padding: 4px;
                        margin: 0px;
                    }
                }

                &.new-comment {
                    padding: 0px;

                    &.hidden {
                        display: none;
                    }

                    button {
                        font-size: 16px;
                    }
                }

                &.edit {
                    border: 1px solid $darkBrown;
                    border-radius: 30px;

                    form {
                        @include flexCenter(column);
                        width: 100%;

                        label {
                            color: $darkBrown;
                            font-weight: bold;
                            margin: 3px;
                            font-size: 18px;
                        }

                        input {
                            width: 78%;
                            height: 120px;

                            &[type="submit"] {
                                width: fit-content;
                                height: fit-content;
                                margin-top: 12px;
                                margin-right: 30px;
                                margin-left: auto;
                            }

                            &[type="text"] {
                                color: $black;
                                font-size: 18px;
                                border-radius: 26px;
                            }
                        }
                    }

                    &.hidden {
                        display: none;
                    }
                }

            }

            &.subtitle {
                justify-content: space-around;
                padding: 0px;
            }
        }
    }

    &.search {
        padding: 30px;

        >section {
            @include flexCenter(column);
            @include boxShadow();
            background-color: $plain;
            padding: 20px;
            min-width: 96%;

            >section {
                @include flexCenter(column);
                width: 96%;

                ul {
                    @include flexCenter(column);
                    padding-inline-start: 0px;
                    list-style: none;
                    width: 96%;

                    li {
                        @include flexCenter(row);
                        box-shadow: 2px 2px 1px $darkBrown;
                        justify-content: space-around;
                        width: 80%;
                        height: 50px;
                        border: 1px solid $mainBrown;
                        border-radius: 30px;
                        margin-bottom: 6px;
                        padding: 0px 20px;

                        a {
                            font-size: 18px;
                            font-weight: bold;
                            color: $darkBrown;
                            width: 40%;
                        }

                        >p {
                            text-align: center;
                            margin: 8px 0px;
                            width: 20%;
                        }

                        p:nth-last-child(1),
                        p:nth-last-child(2) {
                            width: 10%;
                        }

                    }
                }

                &.filters {
                    background-color: $mainBrown;
                    @include flexCenter(column);
                    @include boxShadow();
                    border-radius: 50px;

                    h1 {
                        color: $plain;
                        font-size: 30px;
                        font-weight: bolder;
                        margin: 0px;
                        margin-top: 12px
                    }

                    form {
                        @include flexCenter(row);
                        width: calc(100% - 20px);
                        padding: 10px;

                        label {
                            color: $plain;
                            font-size: 16px;
                            font-weight: bold;
                            margin-right: 8px;
                        }

                        select {
                            margin-right: 20px;
                            width: fit-content;
                            padding: 6px 12px;
                            border-radius: 16px;
                            background-color: $plain;
                            color: $darkBrown;
                            font-size: 18px;
                            font-weight: bold;
                            cursor: pointer;
                            transition: all 0.6s ease;
                            outline: none;
                            border: none;

                            option {
                                background-color: $plain;

                                &:hover {
                                    background-color: $darkBrown;
                                    color: $plain;
                                    cursor: pointer;
                                }
                            }
                        }

                        input[type="text"] {
                            border: none;
                            margin-right: 16px;
                            height: auto;

                            &:focus {
                                outline: 2px $darkBrown;
                                border: 2px $darkBrown;
                            }
                        }

                        button[type="submit"] {
                            width: fit-content;
                            padding: 4px 32px;
                            margin: 0px;
                        }
                    }
                }

                &.authors {
                    li {
                        justify-content: space-between;

                        a {
                            width: 68%;
                        }

                        p:nth-last-child(1),
                        p:nth-last-child(2) {
                            width: 28%;
                            text-align: left;
                        }
                    }
                }

                &.topics {
                    li {
                        justify-content: space-between;

                        a {
                            width: 56%;
                        }

                        p:nth-last-child(1) {
                            width: 14%;
                        }

                        p:nth-last-child(3) {
                            width: 30%;
                            text-align: left;
                        }
                    }
                }

                &.groups {
                    li {
                        width: 60%;

                        a {
                            width: 100%;
                        }

                        &:hover {
                            scale: 1.05;
                        }
                    }
                }
            }
        }
    }

    &.shop {
        padding: 30px;

        >section {
            @include flexCenter(column);
            @include boxShadow();
            background-color: $plain;
            width: 80%;
            min-height: 300px;

            h1 {
                color: $darkBrown;
                font-size: 32px;
                font-weight: bolder;
            }

            table {
                display: table;
                padding: 10px;
                width: 50%;
                border: none;
                border-spacing: 0px;
                border-collapse: collapse;

                caption {
                    color: $mainGreen;
                    font-size: 22px;
                }

                tr {
                    display: table-row;
                    border: none;

                    td,
                    th {
                        display: table-cell;
                        text-align: center;
                        padding: 2px;
                        border: 1px solid $mainBrown;

                        &:nth-child(even) {
                            border-left: none;
                        }

                        &:nth-child(odd) {
                            border-right: none;
                        }
                    }

                    th {
                        padding: 4px 2px;
                        background-color: $mainGreen;
                        color: $plain;
                        font-weight: bolder;
                    }
                }
            }

            >section.payment {
                width: 100%;

                h1 {
                    color: $darkBrown;
                    font-size: 26px;
                    text-align: center;
                }

                form {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 20px;

                    label {
                        width: calc(48% - 20px);
                        padding: 14px 10px;
                        margin-right: 10px;
                        text-align: right;
                    }

                    input {
                        background-color: #FFFFFF;
                        width: 60px;
                        height: 30px;
                        border: 1px solid $mainBrown;
                        box-shadow: 2px 2px 2px $darkBrown inset;
                        margin-right: calc(48% - 100px);
                    }

                    select {
                        background-color: #FFFFFF;
                        width: 92px;
                        height: 44px;
                        margin-right: calc(48% - 100px);
                        cursor: pointer;

                        border-radius: 20px;
                    }

                    button {
                        width: 160px;
                        margin: 16px auto;
                    }

                    section.payment-data {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 20px;

                        input {
                            width: 100px;
                            margin-right: calc(48% - 140px);

                            &[name="card-number"],
                            &[name="card-expiry"] {
                                width: 140px;
                                margin-right: calc(48% - 180px);
                            }

                            &[name="card-cvc"] {
                                width: 40px;
                                margin-right: calc(48% - 80px);
                            }

                            &[name="paypal-email"] {
                                width: 180px;
                                margin-right: calc(48% - 220px);
                            }
                        }
                    }
                }
            }
        }
    }

    &.read {
        section {
            width: 100%;
            height: auto;
            overflow: visible;
        }
    }
}