input {
  border: 2px solid #98B895;
  min-height: 20px;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: inset 2px 2px 1px #524629;
}

input[type=submit], button {
  border: 2px solid #524629;
  border-radius: 30px;
  background-color: #524629;
  color: #F6F2EF;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  width: 40%;
  cursor: pointer;
}
input[type=submit]:hover, button:hover {
  scale: 1.1;
}

body {
  background-image: url("../upload/paperTextureBackground.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header h1 {
  color: #524629;
  font-size: 52px;
  font-weight: bolder;
  margin: 10px;
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #F6F2EF;
  background-color: #524629;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #98B895;
  height: 75px;
  padding: 5px 10px;
}
nav section.search {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #F6F2EF;
  height: 30px;
  margin: 5px 15px;
  padding: 5px 20px;
  border-radius: 25px;
  justify-content: space-between;
}
nav section.search label {
  display: none;
}
nav section.search input[type=image] {
  width: 20px;
  padding: 5px;
}
nav section.search input[type=image]:hover {
  width: 24px;
  padding: 3px;
}
nav section.search input[name=fastSearch] {
  border: none;
  background-color: #F6F2EF;
}
nav section.search input[name=fastSearch]:focus {
  border: none;
  outline: none;
}
nav section.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #98B895;
  gap: 10px;
  margin: 5px 15px;
}
nav section.nav-buttons button {
  background-color: #98B895;
  border: none;
  height: 100%;
  cursor: pointer;
}
nav section.nav-buttons button img {
  width: 50px;
}
nav section.nav-buttons button:hover {
  scale: 1.1;
}
nav section.nav-buttons button.logout-button {
  padding-top: 5px;
}
nav section.nav-buttons button.logout-button img {
  width: 45px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}
main.login section, main.signup section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 1px #524629;
  border: 2px solid #98B895;
  background-color: #F6F2EF;
  padding: 15px;
  border-radius: 10px;
  max-width: 50%;
  min-height: 300px;
}
main.login section h1, main.signup section h1 {
  color: #524629;
  font-size: 36px;
  font-weight: bold;
  margin: 10px;
}
main.login section form, main.signup section form {
  color: #524629;
  width: 100%;
}
main.login section form ul, main.signup section form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
main.login section form ul li, main.signup section form ul li {
  font-size: 26px;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}
main.login section form ul li:last-child, main.signup section form ul li:last-child {
  margin-top: 15px;
}/*# sourceMappingURL=style.css.map */